{% extends "base.html" %}

<!-- ## format all flash messages  -->
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-primary wrap" role="alert">
				{% for message in messages %}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true" style="font-size:20px">×</span>
					</button>
					{{ message }}
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
	<div class="col" align = right >
		<a class="btn button-circle" style="background-color: #428bca; color: white; font-family: sans-serif;" href="/admin-devices/{{ user_details[0][0] }}/add-new/">
		Add New Device</a>
	</div>

<div class="row mt-4">


<h3>Devices List</h3>
</div>
<!-- ## Creating the checkboxes -->
  
<br>
	<div class="row">
		<div class="col" id="new-search-area"></div>

		<div class="col">
			<input type="checkbox" name="DeviceId" checked="checked"> Device Id
			<br>
			<input type="checkbox" name="DeviceName" checked="checked"> Device Name
			<br>
		</div>
		<div class="col">
			<input type="checkbox" name="DeviceType" checked="checked"> Device Type
			<br>
			<input type="checkbox" name="OSType" checked="checked">OS Type
		</div>
		<div class="col">
			<input type="checkbox" name="OSVersion" checked="checked">OS Version
			<br>
			<input type="checkbox" name="CPU" >CPU
			<br>
		</div>
		<div class="col">
			<input type="checkbox" name="Bit">Bit
			<br>
			<input type="checkbox" name="RAM" checked="checked">RAM
		</div>
		<div class="col">
			<input type="checkbox" name="ScreenRes">Screen Resolution
			<br>
			<input type="checkbox" name="Grade">Grade
		</div>
		<div class="col">
			<input type="checkbox" name="Status" checked="checked"> Status
			<br>
			<input type="checkbox" name="Assigned" checked="checked"> Assigned to
			<br>
			<input type="checkbox" name="DueDate" checked="checked"> Due date</p>
		</div>
		<br>
		<br>

		<br>
		<!-- ## Creating the table -->
		<table id="columnSort" class="table table-striped">

			<br>
<!-- ## Creating the header rows -->
			<thead>
				<tr>
					<th></th>
					<th class="DeviceID">ID</th>
					<th class="DeviceName">Device Name</th>
					<th class="DeviceType">Device Type</th>
					<th class="OSType">OS Type</th>
					<th class="OSVersion">OS Version</th>
					<th class="RAM">RAM</th>
					<th class="CPU">CPU</th>
					<th class="Bit">Bit</th>
					<th class="ScreenRes">Screen Resolution</th>
					<th class="Grade">Grade</th>
					<th class="Status">Status</th>
					<th class="Assigned">Assigned</th>
					<th class="DueDate">Due</th>
				</tr>

				<tr>
					<th></th>
					<th class="DeviceID"></th>
					<th class="DeviceName"></th>
					<th class="DeviceType"></th>
					<th class="OSType"></th>
					<th class="OSVersion"></th>
					<th class="RAM"></th>
					<th class="CPU"></th>
					<th class="Bit"></th>
					<th class="ScreenRes"></th>
					<th class="Grade"></th>
					<th class="Status"></th>
					<th class="Assigned"></th>
					<th class="DueDate"></th>
				</tr>
			</thead>
			<tr>
	{% for item in device_details %}
		{% if not usertrue and user_details[0][5] == 'Admin' %}
        	<td>
			<a type="btn" class="btn btn-primary btn-round mb-2" text="center" href="/admin-devices/{{ user_details[0][0] }}/update/{{ item[0] }}">Update</a>
			</td>								
		{% endif %}	
					
</td>	
    	<td class = "DeviceID">{{item[0]}}</td>
		<td class="DeviceName"><a href="#" data-toggle="tooltip" data-placement="right" title="OS version:  RAM: {{item[5]}}, CPU: {{item[6]}}, Bit:{{item[7]}}, Screen Res: {{item[8]}}, Grade: {{item[9]}}">{{item[1]}}</a></td>    	
    	<td class = "DeviceType">{{item[2]}}</td>
    	<td class="OSType">{{item[3]}}</td>
     	<td class="OSVersion">{{item[4]}}</td>
		<td class="RAM">{{item[5]}}</td>
        <td class="CPU">{{item[6]}}</td>
		<td class="Bit">{{item[7]}}</td>
		<td class="ScreenRes">{{item[8]}}</td>
		<td class="Grade">{{item[9]}}</td>
		<td class="Status">{{item[11]}}</td>
		<td class="Assigned"> 
			{% if item[11]=='Available' or item[11]=='On Hold' %}
			-
			{% else %}
			{{item[18]}} {{item[19]}}<br>{{item[21]}}
			{% endif %}
		</td>
		<td class="DueDate"> 
			{% if item[11]=='Available'or item[11]=='On Hold' %}
			-


			{% elif item[15] is not none %}
				{{ item[15].strftime('%d %B') }}

			{% endif %}
		</td>

			
		</tr>
		

	{% endfor %}
	</table>

</form>

{% endblock %}
