<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<script> $(function () {$('[data-toggle="tooltip"]').tooltip()})</script>
  	<script> $(function () {$('[data-toggle="popover"]').popover()});</script>
    <script>"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css"</script>
	<script>"https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css"</script>
  	<script>

			$(document).ready(function() {
		    $('#columnSort').DataTable( {
		        initComplete: function () {
		            this.api().columns([1, 2, 3, 5, 6, 8, 9, 11]).every( function () {
		                var column = this;
		                var select = $('<select><option label="Select" value=""></option></select>')
		                    .appendTo( $(column.header()).empty() )
		                    .on( 'change', function () {
		                        var val = $.fn.dataTable.util.escapeRegex(
		                            $(this).val()
		                        );
		 							
		                        column
		                            .search( val ? '^'+val+'$' : '', true, false )
		                            .draw();
		                    } );
		                column.data().unique().sort().each( function ( d, j ) {
		                    var val = $('<div/>').html(d).text();
							select.append( '<option value="' + val + '">' + val + '</option>' );
		                } );
		            } );
		             $("#columnSort_filter").detach().appendTo('#new-search-area');
		        }
		    } );
		} );
			 $("#searchbox").keyup(function() {
	        dataTable.fnFilter(this.value);
	    });  


	</script>
	<!-- Function to disable "sign in" button -->
	<script>
						function enableButton()
		{
		    var selectelem = document.getElementById('userid');
		    var btnelem = document.getElementById('seedoc');
		    btnelem.disabled = !selectelem.value;
		}
	</script>
<!-- 	<script>$(document).ready(function() {

    $('.btn-group').on('click', 'button', function() {
        var $btn = $(this);
        var categoryId = $btn.data('categoryId');
        $('#' + categoryId).toggle();
    }); });</script>
	 -->

	{% if title %}
		<title> {{ title }} - Devices Library </title>
	{% else %}
		<title> Devices Library </title>
	{% endif %}
	<style>
	.wrap {
	    position: relative;
	}
	.wrap span {
	    position: absolute;
	    top: 0;
	    right: 3;
	}	
	</style>

</head>

<body>

	<header class="site-header">
		<nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #428bca; color: white; font-family: sans-serif;">
			<div class="container">
				<a class="navbar-brand mr-4" href="/">Device Library</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarToggle">
				 
					<div class="navbar-nav mr-auto">
						{% if not usertrue %}
							{% if user_details[0][5]=='User' %}
							<a class="nav-item nav-link" href="/myview/{{userid}}">My Devices</a>
													
							{% elif user_details[0][5]=='Admin' %}
							<a class="nav-item nav-link" href="/myview/{{userid}}">My Devices</a>
								<a class="nav-item nav-link" href="/admin-devices/{{userid}}">Add/Remove Device</a>							
								<a class="nav-item nav-link" href="/addstaff">Add Staff Member</a>

					
							{% endif %}
						{% endif %}
					</div>
				</div>
			</div>
		</nav>
	</header>

<br>
<br>
<br>
<br>



	<main role="main" class="container">
		{% block content %}{% endblock %}
	</main>
<!-- Optional JavaScript -->
    <!-- Many Bootstrap components require the use of JavaScript to function. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
 	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script> $("input:checkbox:not(:checked)").each(function() {
    var column = "table ." + $(this).attr("name");
    $(column).hide();});

	$("input:checkbox").click(function(){
    var column = "table ." + $(this).attr("name");
    $(column).toggle();}); </script>

</body>

</html>

  

