{% extends "base.html" %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="alert alert-success mt-2" role="alert">
                {% for message in messages %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true" style="font-size:20px">×</span>
                    </button>
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {% if is_search %}
	 <div class="alert alert-info mt-2" role="alert">
		This is the result of your search
	</div>
	{% endif %}
 <div class="row mt-1 mb-3">
	<div class="col text-left">
		<form method="POST" action="/device-list/search" class="form-inline">
			<div class="form-group">
				  <input class="form-control" type="text" placeholder="Search Device Details "aria-label="Search" name="device_search_details">
			</div>
			<div class="col mt-2">
				<button type="submit" class="btn btn-primary mb-2">Search</button>
			</div>
		</form>
	</div>
</div>
{% if is_search and not device_details %}
		<div class="alert alert-info mt-2" role="alert">
			There are no results that match your search
		</div>
    {% else %}
<h2>Device List</h2>
<br>
	
<p><input type="checkbox" name="DeviceName" checked="checked"> Device Name 
  <input type="checkbox" name="DeviceType" checked="checked"> Device Type 
  <input type="checkbox" name="OSType" checked="checked">OS Type
  <input type="checkbox" name="MoreSpecs" checked="checked">More Specs
  <input type="checkbox" name="OSVersion">OS Version
  <input type="checkbox" name="RAM">RAM
  <input type="checkbox" name="CPU">CPU
  <input type="checkbox" name="Bit">Bit
  <input type="checkbox" name="ScreenRes">Screen Resolution
  <input type="checkbox" name="Grade">Grade
  <input type="checkbox" name="Status" checked="checked"> Status
  <input type="checkbox" name="Assigned" checked="checked"> Assigned to</p>


<table id ="columnSort1" class="table table-striped">
    <thead>
      <tr>
        <th class ="DeviceName">Device Name</th>
        <th class="DeviceType">Device Type</th>
        <th class="OSType">OS Type</th>
		<th class="MoreSpecs">More Specs</th>
		<th class="OSVersion">OS Version</th>
		<th class="RAM">RAM</th>
        <th class="CPU">CPU</th>
		<th class="Bit">Bit</th>
		<th class="ScreenRes">Screen Resolution</th>
		<th class="Grade">Grade</th>
		<th class = "Status">Status</th>
        <th class="DeviceType">Assigned to</th>
        <th></th>
      </tr>
	</thead>
	<tr>
		{% for item in device_details %}

    	<td class = "DeviceName">{{item[1]}}</td>
    	<td class = "DeviceType">{{item[2]}}</td>
    	<td class="OSType">{{item[3]}}</td>
    	<td><button type="button" class="btn btn-secondary MoreSpecs" data-container="body" data-toggle="popover" data-placement="right" data-content="OS version: {{item[4]}}, RAM: {{item[5]}}, CPU: {{item[6]}}, Bit:{{item[7]}}, Screen Res: {{item[8]}}, Grade: {{item[9]}}">More Specs</button></td>
     	<td class="OSVersion">{{item[4]}}</td>
		<td class="RAM">{{item[5]}}</td>
        <td class="CPU">{{item[5]}}</td>
		<td class="Bit">{{item[6]}}</td>
		<td class="ScreenRes">{{item[7]}}</td>
		<td class="Grade">{{item[8]}}</td>
		<td class = "Status">{{item[10]}}</td>


		{% if item[10]=='Available' %}

        <td>-</td>

		{% else %}

		<td>{{item[12]}} {{item[13]}}</td>

		{% endif %}

	</tr>
		{% endfor %}
		 

</table>



{% endif %}

{% endblock %}

<script>
    document.write(5+6);
    $(document).ready(function(){
        console.log('test');
        $("#searchInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#devInfo tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });

		$('td:nth-child(n+2),th:nth-child(n+2)').hide();
        $('td:nth-child(5),th:nth-child(5)').show();
        $('td:nth-child(6),th:nth-child(6)').show();
        $('#specsToggle').click(function() {
          $('td:nth-child(n+1),th:nth-child(n+1)').toggle();
          $('td:nth-child(5),th:nth-child(5)').show();
          $('td:nth-child(6),th:nth-child(6)').show();

        });
    });
</script>





