{% extends "base.html" %}
{% block content %}

<h2>Device List</h2>
<br>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Device Name</th>
        <th>Device type</th>
        <th>OS type</th>
        <th>More Specs</th>
		<th>Status</th>
        <th>Assigned to</th>
        <th>Borrow?</th>
      </tr>
	</thead>
	<tr>
		{% for item in device_details %}
		
    	<td>{{item[1]}}</td>
    	<td>{{item[2]}}</td>
    	<td>{{item[3]}}</td>
    	<td><button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="OS version: {{item[4]}}, RAM: {{item[5]}}, CPU: {{item[6]}}, Bit:{{item[7]}}, Screen Res: {{item[8]}}, Grade: {{item[9]}}">More Specs</button></td>
		<td></td>
		<td></td>
		<td> <a href="/check-out?DevID={{item[0]}}" class="btn btn-info btn-xs">Borrow now</a></td>
	</tr>
	


	
		{% endfor %}
</table>

{% endblock %}