<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}	
	
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-primary wrap" role="alert">
				{% for message in messages %}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true" style="font-size:20px">×</span>
					</button>
					{{ message }}
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}

    <title>
        Add New Devices
    </title>

<div class="row justify-content-center align-items-center">
	<h3>Update Device Details</h3>
</div>


<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
	
    <form action="" method = "POST">
           	
    	<div class="form row mt-4 mb-2">
      <div class="col">
    		<label for="deviceid">Device Id</label>
          <input type="text" class="form-control" placeholder="" name = "deviceid" id = "deviceid" value = {{ device_details[0][0] }} readonly>
        </div>
        <div class="col">
    	<label for="devicecpu">Device CPU</label> 
          <input type="text" class="form-control" placeholder="" name = "devicecpu" id = "devicecpu" value = {{ device_details[0][6] }}>
        </div>
       </div>

      <div class="form row mt-4 mb-2">
      <div class="col">
        <label for="devicename">Device Name</label>
          <input type="text" class="form-control" placeholder="" name = "devicename" id = "devicename" value = {{ device_details[0][1] }}>
        </div>
        <div class="col">
      <label for="devicebit">Device Bit</label> 
          <input type="text" class="form-control" placeholder="" name = "devicebit" id = "devicebit" value = {{ device_details[0][7] }}>
        </div>
       </div>

        <div class="form row mt-4 mb-2">
      <div class="col">
        <label for="devicetype">Device Type</label>
          <input type="text" class="form-control" placeholder="" name = "devicetype" id = "devicetype" value = {{ device_details[0][2] }}>
        </div>
        <div class="col">
      <label for="screenres">Screen Res</label> 
          <input type="text" class="form-control" placeholder="" name = "screenres" id = "screenres" value = {{ device_details[0][8] }}>
        </div>
       </div>

          <div class="form row mt-4 mb-2">
      <div class="col">
        <label for="ostype">OS Type</label>
          <input type="text" class="form-control" placeholder="" name = "ostype" id = "ostype" value = {{ device_details[0][3] }}>
        </div>
        <div class="col">
      <label for="devicegrade">Device Grade</label> 
          <input type="text" class="form-control" placeholder="" name = "devicegrade" id = "devicegrade" value = {{ device_details[0][9] }}>
        </div>
       </div>

          <div class="form row mt-4 mb-2">
      <div class="col">
        <label for="osversion">OS Version</label>
          <input type="text" class="form-control" placeholder="" name = "osversion" id = "osversion" value = {{ device_details[0][4] }}>
        </div>
        <div class="col">
      <label for="deviceuuid">Device UUID</label> 
          <input type="text" class="form-control" placeholder="" name = "deviceuuid" id = "deviceuuid" value = {{ device_details[0][10] }}>
        </div>

       </div>
          <div class="form row mt-4 mb-2">
      <div class="col">
        <label for="deviceram">Device RAM</label>
          <input type="text" class="form-control" placeholder="" name = "deviceram" id = "deviceram" value = {{ device_details[0][5] }}>
        </div>
        <div class="col">
      <label for="devicestatus">Device Status</label> 
          <input type="text" class="form-control" placeholder="" name = "devicestatus" id = "devicestatus" value = {{ device_details[0][11] }} readonly >
        </div>
       </div>
	   
		</br>
		</br>
      
      
    	<div>
			<input type="submit" name = "Addstaff" download = "addstaff" class="btn btn-secondary btn-block" align = "right" value = "Submit"></input>
    	</div>
       
       
       <hr>
     

    </form>
  </div>    
    
  </div>
  </div>
  
{% endblock %}