{% extends "base.html" %}


{% block content %}

<div class=container class="alert alert-success">
	{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}

	{% for message in messages %}
	<p>{{ message[1] }}</p>
	{% endfor %}

	{% endif %}
	{% endwith %}
</div>

<br>

{% if num_device <1 %}
<div class="alert alert-info" role="alert">
	You do not have any devices on loan.
</div>

{% else %}

		<h3>{{user_details[0][1]}}'s Loan Devices</h3>

		<!-- 		<h3>Your Loans</h3>		 -->
		<br>
		<form method="POST" action="" name="Device">
			<table style=" font-family: sans-serif;" class="table table-striped">
				<thead>
					<tr>
						<th>Device ID</th>
						<th>Device Name</th>
						<th>Device Type</th>
						<th>Due Date</th>

						<th> </th>

					</tr>
				</thead>


				{% for device in loan_devices %}
				<tr>
					<td>{{device[0]}}</td>
					<td>{{device[1]}}</td>
					<td>{{device[2]}}</td>
					<td>{{device[3]}}</td>
					<td><button type="submit" class="btn btn-info btn-xs" style="background-color: #4173f4; color: white; font-family: sans-serif;" name="ReturnNow">Return Now</button></td>
				</tr>
				{% endfor %}

			</table>
			<br>
		</form>

{% endif %}

<br>


{% if num_hold_device <1 %}
<div class="alert alert-info" role="alert">
	You do not have any devices on hold.
</div>

{% else %}



		<h3>{{user_details[0][1]}}'s Hold Devices</h3>

		<!-- 		<h3>Your Devices on Hold</h3>		 -->
		<br>
		<form method="POST" action="" name="Device">
			<table style=" color: #4173f4; font-family: sans-serif;" class="table table-striped">
				<thead>
					<tr>
						<th>Device ID</th>
						<th>Device Name</th>
						<th>Device Type</th>
						<th>Device Status</th>

						<th> </th>

					</tr>
				</thead>


				{% for device in loan_devices %}
				<tr>
					<td>{{device[0]}}</td>
					<td>{{device[1]}}</td>
					<td>{{device[2]}}</td>
					<td>{{device[3]}}</td>
					<td> <input type="checkbox1" class="form-check-input" name="selected[]" value={{device[0]}}></input></td>
				</tr>
				{% endfor %}

			</table>


			<br>

			<div align=right>
				<button type="submit" class="btn btn-info btn-xs" style="background-color: #4173f4; color: white; font-family: sans-serif;" name="BorrowHold">Borrow Now</button>

			</div>


		</form>

{% endif %}

<br>




<h3>Devices List</h3>

<br>
<form method="POST" action="" name="DeviceList">
	
<p><input type="checkbox" name="DeviceName" checked="checked"> Device Name 
  <input type="checkbox" name="DeviceType" checked="checked"> Device Type 
  <input type="checkbox" name="OSType" checked="checked">OS Type
  <input type="checkbox" name="OSVersion">OS Version
  <input type="checkbox" name="RAM">RAM
  <input type="checkbox" name="CPU">CPU
  <input type="checkbox" name="Bit">Bit
  <input type="checkbox" name="ScreenRes">Screen Resolution
  <input type="checkbox" name="Grade">Grade
  <input type="checkbox" name="Status" checked="checked"> Status
  <input type="checkbox" name="Assigned" checked="checked"> Assigned to
  <input type="checkbox" name="DueDate" checked="checked"> Due date</p>


<table id ="columnSort" class="table table-striped">

    <thead>
      <tr>
        <th class="DeviceName" >Device Name</th>
        <th class="DeviceType" >Device Type</th>
        <th class="OSType">OS Type</th>
		<th class="OSVersion">OS Version</th>
		<th class="RAM">RAM</th>
        <th class="CPU">CPU</th>
		<th class="Bit">Bit</th>
		<th class="ScreenRes">Screen Resolution</th>
		<th class="Grade">Grade</th>
		<th class="Status">Status</th>
        <th class="Assigned">Assigned to</th>
        <th class="DueDate">Due date</th>
        <th></th>
      </tr>
	
      <tr>
        <th class="DeviceName"></th>
        <th class="DeviceType"></th>
        <th class="OSType"></th>
		<th class="OSVersion"></th>
		<th class="RAM"></th>
        <th class="CPU"></th>
		<th class="Bit"></th>
		<th class="ScreenRes"></th>
		<th class="Grade"></th>
		<th class="Status"></th>
        <th class="Assigned"></th>
        <th class="DueDate"></th>
        <th></th>
      </tr>
	</thead>
	<tr>
		{% for item in device_details %}

		<td class="DeviceName"><a href="#" data-toggle="tooltip" data-placement="right" title="OS version: {{item[4]}}, RAM: {{item[5]}}, CPU: {{item[6]}}, Bit:{{item[7]}}, Screen Res: {{item[8]}}, Grade: {{item[9]}}">{{item[1]}}</a></td>    	
		


		<td class="DeviceType">{{item[2]}}</td>
    	<td class="OSType">{{item[3]}}</td>
    
     	<td class="OSVersion">{{item[4]}}</td>
		<td class="RAM">{{item[5]}}</td>
        <td class="CPU">{{item[6]}}</td>
		<td class="Bit">{{item[7]}}</td>
		<td class="ScreenRes">{{item[8]}}</td>
		<td class="Grade">{{item[9]}}</td>
		<td class="Status">{{item[11]}}</td>
		<td class="Assigned"> 
			{% if item[11]=='Available' %}
			-
			{% else %}
			{{item[20]}} {{item[21]}}
			{% endif %}
		</td>
		<td class="DueDate"> 
			{% if item[11]=='Available' %}
			-
			{% else %}
			{{item[17]}}
			{% endif %}
		</td>
		<td>
			{% if item[11]=='Available' %}
			<form method="POST" action="" name="BorrowNow{{item[0]}}">
				<button type="submit" class="btn btn-info btn-xs" style="background-color: #4173f4; color: white; font-family: sans-serif;" name="BorrowNow{{item[0]}}">Borrow Now</button>
			</form>
			{% else %}
			<form method="POST" action="" name="HoldNow{{item[0]}}">
				<button type="submit" class="btn btn-info btn-xs" style="background-color: #4173f4; color: white; font-family: sans-serif;" name="HoldNow{{item[0]}}">Hold Now</button>
			</form>
			{% endif %}
		</td>
		</tr>
		{% endfor %}
	</table>
</form>

{% endblock %}