{% extends "base.html" %}


{% block content %}

<div class=container">
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-warning mt-2" role="alert">
				{% for message in messages %}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true" style="font-size:20px">×</span>
					</button>
					{{ message }}
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}

<h3>My Profile page, need to add in a table with Name, location etc</h3>
<br>

{% if usertrue %}
	<div class="row">



	</div>
{% endif %}
{% if not usertrue %}


{% if num_device <1 %}
<div class="alert alert-info" role="alert">
	You do not have any devices on loan.
</div>

{% else %}

		<h3>{{user_details[0][1]}}'s Loan Devices</h3>

		<!-- 		<h3>Your Loans</h3>		 -->
		<br>
		<form method="POST" action="" name="Device">
			<table style=" font-family: sans-serif;" class="table table-striped">
				<thead>
					<tr>
						<th>Device ID</th>
						<th>Device Name</th>
						<th>Device Type</th>
						<th>Due Date</th>

						<th> </th>

					</tr>
				</thead>

				{% for device in loan_devices %}
				<tr>
					<td>{{device[0]}}</td>
					<td>{{device[1]}}</td>
					<td>{{device[2]}}</td>
					<td>
						{% if device[3] is not none %}
							{{ device[3] .strftime('%d %B') }}
						{% endif %}
					</td>
					<form method="POST" action="">
						<td>
							<button type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #4173f4; color: white; font-family: sans-serif;" name="ReturnNow">Return</button>
						</td>
					</form>
				</tr>
				{% endfor %}

			</table>

		</form>

{% endif %}

<br>


{% if num_hold_device <1 %}
<div class="alert alert-info" role="alert">
	You do not have any devices on hold.
</div>

{% else %}
		<h3>{{user_details[0][1]}}'s Hold Devices</h3>

		<!-- 		<h3>Your Devices on Hold</h3>		 -->
		<br>
		<form method="POST" action="" name="Device">
			<table style="font-family: sans-serif;" class="table table-striped">
				<thead>
					<tr>
						<th>Device ID</th>
						<th>Device Name</th>
						<th>Device Type</th>
						<th>Device Status</th>

						<th> </th>

					</tr>
				</thead>


				{% for device in hold_devices %}
				<tr>
					<td>{{device[0]}}</td>
					<td>{{device[1]}}</td>
					<td>{{device[2]}}</td>
					<td>{{device[3]}}</td>
					<td>
						{% if device[3]=='Unavailable' %}
							<form method="POST" action="">
									<button disabled type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #4173f4; color: white; font-family: sans-serif;" name="BorrowHold">Borrow</button>
							</form>
						{% else %}
							<form method="POST" action="">
									<button type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #4173f4; color: white; font-family: sans-serif;" name="BorrowHold">Borrow</button>
							</form>
						{% endif %}

					</td>

				</tr>
				{% endfor %}

			</table>


		</form>

{% endif %}

<br>

{% endif %}

<form method="GET" action="/device-borrow-return/{{user_details[0][0]}}">
	<button type="submit" value=""  class="btn btn-info btn-xs" style="background-color: #4173f4; color: white; font-family: sans-serif;" name="BacktoList">Back to My Device List</button>
</form>

{% endblock %}
