{% extends "base.html" %}
{% block content %}

	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-primary mt-2" role="alert">
				{% for message in messages %}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true" style="font-size:20px">×</span>
					</button>
					{{ message }}
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}

<h3>My Profile</h3>
<br>
{% if item_hold_avai_borrow and item_hold_avai_borrow !=0 %}
	<div class="alert alert-success wrap" role="alert">
		You have {{item_hold_avai_borrow}} holding item/s available to borrow: 
		<br>
		{% for item in hold_avai_borrow %}
			{{item[3]}}
			<br>
		{% endfor %}
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true" style="font-size:20px">×</span>
		</button>
	</div>
	{% endif %}
	{% if items_over_due and items_over_due !=0 %}
		<div class="alert alert-danger wrap" role="alert">
			Please return {{items_over_due}} overdue item/s 
			{% for item in over_due %}
				<br>
				{{item[2]}}
				<button type="button" class="close mt-1" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true" style="font-size:20px">×</span>
				</button>
			{% endfor %}
		</div>
	{% endif %}

	{% if item_due_soon and item_due_soon !=0 %}
		<div class="alert alert-warning wrap" role="alert">
			 You have device(s) due back very soon! 
			 <br>
			{% for item in due_soon %}
				{{item[2]}}
				<br>
			{% endfor %}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true" style="font-size:20px">×</span>
			</button>
		</div>
	{% endif %}

<form method="GET" action="/device-borrow-return/{{user_details[0][0]}}" align="right">
	<button type="submit" value=""  class="btn btn-secondary btn-xs" name="">Back to Device List</button>
</form>

{% if not usertrue %}
	<div class="container-fluid">
		<table style=" font-family: sans-serif;" class="table.table-borderless table-sm">
										
					<tr>
						<td><b>My User ID:</b> {{user_details[0][0]}}</td>
					</tr>	
					<tr>	
						<td><b>First Name:</b> {{user_details[0][1]}}</td>
					</tr>	
					<tr>	
						<td><b>Last Name:</b> {{user_details[0][2]}}</td>
					</tr>	
					<tr>	
						<td><b>Email:</b> {{user_details[0][3]}}</td>
					</tr>	
					<tr>	
						<td><b>Office:</b> {{user_details[0][6]}}</td>
					</tr>
					
		</table>


	</div>
{% endif %}

</br>
</br>

{% if not usertrue %}
	
	{% if num_device <1 %}
	<div class="alert alert-primary mt-2" role="alert">
		You do not have any devices on loan.
	</div>
	{% else %}

			<h4>{{user_details[0][1]}}'s Loan Devices</h4>


			<br>
			<form method="POST" action="" name="Device">
				<table style=" font-family: sans-serif;" class="table table-striped">
					<thead>
						<tr>
							<th>Device ID</th>
							<th>Device Name</th>
							<th>Device Type</th>
							<th>Due Date</th>
							<th> </th>
						</tr>
					</thead>

					{% for device in loan_devices %}
						{% if device[0] in due_soon_list %}
						<tr>
							<td><font class="text-warning">{{device[0]}}</font></td>
							<td><font class="text-warning">{{device[1]}}</font></td>
							<td><font class="text-warning">{{device[2]}}</font></td>
							<td><font class="text-warning">	
								{% if device[3] is not none %}
									{{ device[3] .strftime('%d %B') }}
								{% endif %}
								</font>
							</td>				
							<form method="POST" action="">
								<td>
									<button type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #428bca; color: white; font-family: sans-serif;" name="ReturnNow">Return</button>
								</td>
							</form>
						</tr>
						
						
						{% elif device[0] in over_due_list %}
						<tr>
							<td><font class="text-danger">{{device[0]}}</font></td>
							<td><font class="text-danger">{{device[1]}}</font></td>
							<td><font class="text-danger">{{device[2]}}</font></td>
							<td><font class="text-danger">	
								{% if device[3] is not none %}
									{{ device[3] .strftime('%d %B') }}
								{% endif %}
								</font>
							</td>				
							<form method="POST" action="">
								<td>
									<button type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #428bca; color: white; font-family: sans-serif;" name="ReturnNow">Return</button>
								</td>
							</form>
						</tr>
						
						{% else %}
						<tr>
							<td>{{device[0]}}</td>
							<td>{{device[1]}}</td>
							<td>{{device[2]}}</td>
							<td>	
								{% if device[3] is not none %}
									{{ device[3] .strftime('%d %B') }}
								{% endif %}
								
							</td>				
							<form method="POST" action="">
								<td>
									<button type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #428bca; color: white; font-family: sans-serif;" name="ReturnNow">Return</button>
								</td>
							</form>
						</tr>
						
						{% endif %}
			
					{% endfor %}
				</table>
			</form>
	{% endif %}
<br>


	{% if num_hold_device <1 %}
	<div class="alert alert-primary mt-2" role="alert">
		You do not have any devices on hold.
	</div>

	{% else %}
			<h3>{{user_details[0][1]}}'s Hold Devices</h3>

			<!-- 		<h3>Your Devices on Hold</h3>		 -->
			<br>
			<form method="POST" action="" name="Device">
				<table style="font-family: sans-serif;" class="table table-striped">
					<thead>
						<tr>
							<th>Device ID</th>
							<th>Device Name</th>
							<th>Device Type</th>
							<th>Device Status</th>
							<th> </th>
						</tr>
					</thead>
					{% for device in hold_devices %}
						{% if device[0] in hold_avai_borrow_list %}
						<tr>
							<td><font class="text-success">{{device[0]}}</font></td>
							<td><font class="text-success">{{device[1]}}</font></td>
							<td><font class="text-success">{{device[2]}}</font></td>
							<td><font class="text-success">{{device[3]}}</font></td>
							<form method="POST" action="">
								<td>
									{% if device[3]=='On Hold' and device[4]==1 %}
										<form method="POST" action="">
												<button type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #428bca; color: white; font-family: sans-serif;" name="BorrowHold">Borrow</button>
										</form>
									{% else %}
										<form method="POST" action="">
												<button disabled  type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #428bca; color: white; font-family: sans-serif;" name="BorrowHold">Borrow</button>
										</form>
									{% endif %}
								</td>
							</form>
						</tr>
						
						{% else %}
						
						<tr>
							<td>{{device[0]}}</td>
							<td>{{device[1]}}</td>
							<td>{{device[2]}}</td>
							<td>{{device[3]}}</td>
							<form method="POST" action="">
								<td>
									{% if device[3]=='On Hold' and device[4]==1 %}
										<form method="POST" action="">
												<button type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #428bca; color: white; font-family: sans-serif;" name="BorrowHold">Borrow</button>
										</form>
									{% else %}
										<form method="POST" action="">
												<button disabled  type="submit" value="{{device[0]}}" class="btn btn-info btn-xs" style="background-color: #428bca; color: white; font-family: sans-serif;" name="BorrowHold">Borrow</button>
										</form>
									{% endif %}
								</td>
							</form>
						</tr>
						
						{% endif %}
					{% endfor %}
				</table>
			</form>

	{% endif %}
{% endif %}

</br>
</br>

<form method="GET" action="/device-borrow-return/{{user_details[0][0]}}" align="right">
	<button type="submit" value=""  class="btn btn-secondary btn-xs" name="">Back to Device List</button>
</form>

{% endblock %}
