{% extends "base.html" %}



{% block content %}



<form method="POST" action="" name="UserID">
	<div>		
		<h4>Select Your Email Address:</h4>
	</div>
	
	</br>
	
	<div>	
	  <select name="user" size="5">
		{% for user in user_list %}
		<option value="{{ user[0] }}">{{ user[3] }} ({{ user[1] }}{{ " " }}{{ user[2] }}) </option>
		{% endfor %}
	  </select>
	
	</div>
  
	</br>
	<div>
		<button type="submit" class="btn btn-primary" align = "right">Submit</button>
	</div>
</form>




</br>
</br>

<h1>Your Loan Devices List</h1>
<br>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Device ID</th>
        <th>Device Type</th>     
      </tr>
	</thead>
	<tr>
		{% for device in loan_devices %}
		
    	<td>{{device[0]}}</td>
    	<td>{{device[1]}}</td>
    	
	</tr>
	
		{% endfor %}
</table>

{% endblock %}