{% extends "base.html" %}
{% block content %}
	{% with messages = get_flashed_messages() %}
		{% if messages %}
			<div class="alert alert-success mt-2" role="alert">
				{% for message in messages %}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
						<span aria-hidden="true" style="font-size:20px">×</span>
					</button>
					{{ message }}
				{% endfor %}
			</div>
		{% endif %}
	{% endwith %}
		<div class="row mt-4">	
			<div class="col">
				<table class="table table-hover">
					<thead class="thead-dark">
						<tr>
							<th scope="col">First Name</th>
							<th scope="col">Last Name</th>
							<th scope="col">Start Year</th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
					{% for user in users %}
						<tr>
							<td>{{ user[1]|e }}</td>
							<td>{{ user[2]|e }}</td>
							<td>{{ user[3]|e }}</td>
							<td class="text-right">
								<a type="btn" class="btn btn-primary btn-round mb-2" text="center" href="/device-list-return/{{user[0]}}">Show details</a>
							</td>
						</tr>
					{% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
{% endblock content %}